html {
    font-family: arial, verdana, 'sans-serif';
    /* margin: 0; */
    padding: 0;
    width: 600px;
    box-sizing: border-box;
    background-color: white;
}

img .lasagna {
    width: 275px;
    height: auto;
}

.oversikt h1,
.oversikt ul {
    /* margin: 10px auto; */
    background-color: rgb(128, 233, 233);
}

.oversikt > h1 {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.oversikt > ul {
   margin-top: 20px;
   padding: 20px 70px;
   border: 2px solid #e213d8;
}

li {
    padding: 3px 0px;
    color:rgb(100, 106, 209)
}

a,
h2 .ingredients,
h2 .instructions 
h2 .description{
    font-size: 24px;
}


a,
.ingredients {
    color: rgb(100, 106, 209);
}

.description,
.instructions {
    color: rgb(59, 63, 121);
    font-style: italic; 
}